services:
  - type: web
    name: coastaway-booking
    env: docker
    plan: free
    region: oregon 
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PYTHON_VERSION
        value: 3.12.0
